@model IEnumerable<EfSampleQueries.VeritabaniModelleri.Urun>

@{
    ViewBag.Title = "Contains Metodu";
}

<h2>Contains Metodu</h2>
<p>
    Ürün açıklamasında "apple" geçenleri listeler
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunIsmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunAciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YayindaMi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunIsmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YayindaMi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
