@model IEnumerable<EfSampleQueries.VeritabaniModelleri.Urun>

@{
    ViewBag.Title = "SqlQueryMetodParametreIle";
}

<h2>SqlQueryMetodParametreIle</h2>

<hr />
<p>
    <b>var sorguSonucu = db.Urun.SqlQuery("select * from Urun where Marka = @@marka and KategoriId = @@katid", new SqlParameter("@@marka", "Apple"), new SqlParameter("@@katid","2")).ToList();</b>
</p>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunIsmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunAciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YayindaMi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunIsmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YayindaMi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>      
    </tr>
}

</table>
